trigger:
  branches:
    include:
      - dev
      - main

pr:
  branches:
    include:
      - '*'

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: GoTool@0
    displayName: 'Use Go 1.22'
    inputs:
      version: '1.22.x'

  - script: go version
    displayName: 'Go version'

  - script: ./tools/run_doc_tests.sh
    displayName: 'Run docs tests'

  - script: go test ./internal/governance ./internal/episode ./cmd/memory-cli
    displayName: 'Run targeted tests (push/non-PR)'
    condition: ne(variables['Build.Reason'], 'PullRequest')

  - script: go test ./...
    displayName: 'Run full test suite (PR only)'
    condition: eq(variables['Build.Reason'], 'PullRequest')
